/* public/css/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200..900&family=Noto+Sans+KR:wght@200..900&display=swap');

* { box-sizing: border-box; }
textarea:focus-visible { outline: 0; }
body {
    background: url("/images/chart_bg1.png") no-repeat;
    background-color: #2B2B3C;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    /*font-family: "Noto Sans KR", "Noto Sans JP", sans-serif;*/
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: .5px;
}

.main { display: flex; flex-direction: column; height: 100%; }
#login-time { margin-left: .25rem; display: flex; align-items: center; justify-content: center; }

.message {
    margin-top: 1rem;
}
.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.system {
    color: white;
    display: inline-flex;
    justify-content: center;
    border: 1px solid #888;
    padding: .25rem;
    border-radius: 8px;
    font-size: .75rem;
    min-width: 75%;
    background-color: rgba(0, 0, 0, 0.8);
}
.user {
    /*color: rosybrown;*/
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    max-width: 75%;
    /*border: 1px solid rosybrown;*/
    border: 1px solid #E07B2F;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 8px;
    text-align: right;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
}
.assistant {
    /*color: lightskyblue;*/
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    max-width: 75%;
    border: 1px solid cornflowerblue;
    padding: .5rem;
    margin: .5rem 0;
    border-radius: 8px;
    margin-right: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.assistant,
.user,
.system { padding: .5rem 1rem; }
.assistant > span { display: block; }
.user > span { display: block; }
.user > p {
    width: 100%;
    /*background: linear-gradient(90deg, #526BD1 0%, #FF3BD4 97%);*/
    background: linear-gradient(125deg, #D2691E 22.38%, #E07B2F 91.12%);
    padding: .5rem;
    margin: .25rem 0;
    text-align: center;
    border-radius: 6px;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}
.recommend {
    transition: .5s;
    overflow: hidden;
    max-height: 0;
}
.recommend.show {
    max-height: 650px;
}
.recommend-btn {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    border-radius: 4px;
    min-width: 4rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
}

.recommend-img {
    margin-bottom: .5rem;
}
.header-div {
    display: flex;
    gap: .25em;
    align-items: center;
}
.logo-div {
    background-position: center;
    background-repeat: no-repeat;
    width: 1em;
    height: 1em;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #888;
}
.price { margin-top: .25em; }
.time { margin-bottom: .25rem; }
/*.time > div { display: inline; }*/
.time > div:first-child { margin-right: .25rem; }

.caution { margin-top: .5rem; color: indianred; }

.recommend-comment {
    color: orange;
    margin-top: .5rem;
}
.recommend-btn.recommend-close-btn {
    background-color: white;
    color: black;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 50;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /*overflow: hidden;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
    background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
    position: relative;
    /*background-color: aliceblue;*/
    background-color: #2B2B3C;
    margin: 10% auto;
    padding: 1rem;
    border: 1px solid #888;
    width: 80%;
    /*max-width: 600px;*/
    max-width: 750px;
    border-radius: 8px;
    height: 90%;
}

.close {
    color: #aaa;
    font-size: 48px;
    font-weight: bold;
    /*margin-left: 1rem;*/
    padding-bottom: 4px;
    transition: .5s;
}

.close:hover,
.close:focus {
    /*color: black;*/
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.chat-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    /*height: 4rem;*/
}
.chat-box-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    /*gap: 1rem;*/
}
.chat-box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(116deg, #446FD0 6.04%, #FF3BD4 69.59%);*/
    background: linear-gradient(125deg, #FFA500 22.38%, #EB8715 91.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.5px;
    font-family: "Noto Sans";
}
.chat-box-title i {
    background-image: url("/images2/icon_top_chatai.png");
    width: 40px;
    height: 47px;
    margin: 0 10px 0 0;
    background-size: 38px;
    display: block;
}

.chat-box {
    overflow-y: scroll;
    background-color: #2B2B3C;
    width: 100%;
    /*min-height: 450px;*/
    /*border: 1px solid black;*/
    border: 0;
    padding: .5rem;
    border-radius: 4px;
    transition: .5s;
    flex-basis: 100px;
    flex-grow: 1;
}

.chat-box::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.locked { pointer-events: none; opacity: .5;}
/*.generating {*/
/*    !*color: cornflowerblue;*!*/
/*    color: white;*/
/*    !*display: flex;*!*/
/*    !*position: absolute;*!*/
/*    !*right: 0;*!*/
/*    !*top: 50%;*!*/
/*    !*transform: translateY(-50%);*!*/
/*    white-space: nowrap;*/
/*    animation: typing 3s steps(40, end) infinite;*/
/*    overflow: hidden;*/
/*}*/
.generating {
    color: white;
    white-space: nowrap;
    overflow: hidden;

    animation: typing 4s steps(40, end) infinite;
    /*animation-iteration-count: infinite;*/
    /*animation-fill-mode: forwards;*/
    /*animation-delay: 0s, 3s;*/
}
/*.generating > span {*/
/*    animation: typing 3s steps(40, end) infinite;*/
/*    overflow: hidden;*/
/*}*/
.input-toggle-btn {
    padding: .25rem 1rem;
    background-color: #ddd;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.input-open { text-align: center; display: none;}
.input-close { text-align: center; }
.input-wrapper {
    max-height : 175px;
    overflow: hidden;
    transition: .5s;
    width: 100%;
    background-color: transparent;
    margin-bottom: 1rem;
}
#chat-form {
    padding: .5rem;
    border: 1px solid #888;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.8);
    transition: .5s;
}
#message-input {
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    border: 0;
    padding: 0;
    background-color: transparent;
    color: #fff;
    font-family: 'Figtree', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.send-button-wrapper {
    text-align: right;
}

.error-message {
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: 1px solid red;
    border-radius: 8px;
    padding: .5rem;
    display: inline-flex;
    margin: .5rem 0;
}

.charge-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.etc-wrapper {
    position: relative;
    width: 100%;
}

.language-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

/* Button Styles */
.open-btn {
    position: fixed;
    z-index: 10;
    right: 2rem;
    bottom: 50px;
    width: 60px;
    height: 60px;
    padding-top: 7px;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    font-size: 0.6em;
    font-weight: 700;
    /*background: linear-gradient(125deg, #5059AB 22.38%, #FF3BD4 91.12%);*/
    background: linear-gradient(125deg, #D2691E 22.38%, #E07B2F 91.12%);
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    color: white;
    transition: .5s;
    border: 1px solid white;

}
.open-btn i {
    display: block;
    width: 100%;
    height: 30px;
    background: url("/images/icon_w_chatai.png") center 0 no-repeat;
    background-size: 24px auto;
}

/*.open-btn:hover {*/
/*    !*background-color: #e0241a;*!*/
/*    border: 1px solid white;*/
/*}*/

footer {
    display: none;
}

.textarea-custom {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
}

.remaining { color: #fff; }
.button-custom {
    padding: 0.25rem 1rem;
    /*background-color: #1D4ED8;*/
    background: linear-gradient(125deg, #D2691E 22.38%, #E07B2F 91.12%);
    color: #fff;
    /*border: 1px solid transparent;*/
    border: 1px solid white;
    /*border-radius: 0.375rem;*/
    border-radius: 1rem;
    transition: background-color 0.3s;
    cursor: pointer;
}

.button-custom:hover {
    /*background-color: #2563EB;*/
    /*border-color: #1D4ED8;*/
}

/*.chat-box.closed {*/
/*    min-height: 300px;*/
/*}*/
.price-trend,
.score-trend {
    margin-top: 1rem;
}

.article-button {
    transition: .5s;
    border: 1px solid #888;
    border-radius: 4px;
    cursor: pointer;
}
.article-button.active {
    background-color: black;
    color: white;
}

#language-select { padding: .25rem; display: none; }
.select-lang-wrapper { display: flex; gap: .25rem; }
.select-lang {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    opacity: .5;
    transition: .5s;
    cursor: pointer;
}
.select-lang.selected {
    opacity: 1;
}
.select-kr {
    background: url("/images2/country/korea.png") no-repeat center center;
    background-size: contain;
}
.select-jp {
    background: url("/images2/country/japan.png") no-repeat center center;
    background-size: contain;
}
.select-us {
    background: url("/images2/country/america.png") no-repeat center center;
    background-size: contain;
}
.charge-modal {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.4);
    display: none;
 }
.charge-modal-content {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    /*opacity: .5;*/
    flex-direction: column;
    gap: .5rem;
    padding: .5rem;
    display: flex;
    border: 1px solid #888;
}

.charge-modal-header {
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.charge-modal-body { display: flex; flex-direction: column; flex: 1; justify-content: center; align-items: center; gap: 2rem; }
.charge-modal-question { display: flex; align-items: center; justify-content: center;}
.charge-modal-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
.charge-modal-btn {
    padding: .5rem 1rem;
    border: 1px solid black;
    border-radius: 4px;
    transition: .5s;
}
.charge-modal-btn:hover {
    background-color: black;
    color: white;
}
.charge-modal-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.charge-modal-close {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.charge-modal-elem {
    /*border: 1px solid black;*/
    flex: 1;
    display: flex;
    /*border-bottom: 1px solid black;*/
}
.charge-amount {
    flex: 2;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.charge-start {
    flex: 1;
    /*border: 1px solid black;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    position: relative;
}
.charge-start-btn {
    padding: 0.5rem 2rem;
    border: 1px solid black;
    position: absolute;
    left: -1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: calc(100% + 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes typing {
    0% { width: 0 }
    80% { width: 100%; }
    100% { width: 100%; }
}
/*@keyframes pause {*/
/*    0%, 100% { width: 100%; }*/
/*}*/
@media (max-width: 768px) {
    .message { font-size: .9rem; }
    .error-message { font-size: .9rem; }
    .modal-content {
        transition: .5s;
        width: 100%;
        max-width: 100%;
        border: 0;
        border-radius: 0;
        margin: 0;
        height: 100%;
        padding: .8rem;
    }
    .chat-box-header { margin-bottom: .8rem; }
    .assistant,
    .user,
    .system {
        max-width: 80%;
        padding: .5rem;
    }
    .system { font-size: .65rem; padding: .25rem }
    .input-wrapper { margin-bottom: .8rem; }
    .recommend-img {
        margin-bottom: .25rem;
    }
    .charge-modal-content { width: 80%; }
}

@media (max-width: 579px) {
    .modal-content { padding: .5rem; }
    /*.chat-box-body { gap: 8px; }*/
    .assistant {
        max-width: 100%;
    }
    .message { font-size: .8rem; }
    .error-message { font-size: .8rem; }
    .chat-box-header { margin-bottom: .5rem; }
    .chat-box-title { font-size: 1rem; }
    .chat-box-title i { width: 24px; height: 30px; background-size: 24px; }
    .charge-wrapper { font-size: .8rem; }
    .close { margin-left: 0; font-size: 36px; }

    .button-custom {
        padding: .25rem .5rem;
    }
    .input-wrapper { margin-bottom: .5rem; }
}


